/* CSS Document */

/* Fonts 

font-family: 'Gajraj One', cursive;
font-family: 'Rubik Mono One', sans-serif;
font-family: 'Mukta', sans-serif;
*/

@import url('https://fonts.googleapis.com/css2?family=Gajraj+One&family=Mukta:wght@300&family=Rubik+Mono+One&display=swap');

body, header, nav, main, footer {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
	
}

header {

}

nav {
    background-color:#F5F5F5
}

nav ul{
list-style-type: none;
    text-align: center;
	font-family: 'Rubik Mono One', sans-serif;
}

nav li {
display: inline-block;
	color: black;
}

nav li a {
    
}

nav li:hover {
	background-color:#DCDCDC;
}

nav img {
	margin-left: 20%;
	margin-top: 2%;
}

html {
    
}

footer {
	text-align: center;
}

.cover h2 {
	text-align: center;
	font-family: 'Gajraj One', cursive;
	font-size: 2em;
}

.cover p {
	font-family: 'Mukta', sans-serif;
	font-size: 1.4em;
	text-align: center;
}

.cover {
    background-color: dimgrey;
    border-radius: 10px; 
    margin: 4%;
    padding-bottom: 1%;
}

.cover img {
	padding: 0 147px;
}


.eventlogo img {
	padding-left: 41%;
}



/* INDEX PAGE */
.indexcover h2 {
	text-align: center;
	font-family: 'Gajraj One', cursive;
	font-size: 2em;
}

.indexcover p {
	font-family: 'Mukta', sans-serif;
	font-size: 1.4em;
	text-align: center;
}

.indexcover {
    background-color: dimgrey;
    border-radius: 10px; 
    margin: 4%;
    padding-bottom: 1%;
}

.indexcover h3 {
    text-align: center;
	font-family: 'Gajraj One', cursive;
	font-size: 3em;
}

.indexcover img {
    padding: 0 480px;
}





/* STUDIO PAGE */
.studiocover h2 {
	text-align: center;
	font-family: 'Gajraj One', cursive;
	font-size: 2em;
}

.studiocover p {
	font-family: 'Mukta', sans-serif;
	font-size: 1.4em;
    text-align: center;
    padding-right: 2%;
}

.studiocover {
    background-color: dimgrey;
    border-radius: 10px; 
    margin: 4%;
    padding-bottom: 1%;
}


.studiocover img {
    padding: 0 100px;
    float: left;
}

/* NEWSLETTER PAGE */

.newscover {
     background-color: dimgrey;
    border-radius: 10px; 
    margin: 4%;
    padding-bottom: 1%;
}

.newscover img {
    padding: 3% 3% 1% 3%;
}

.newscover h2 {
    text-align: center;
	font-family: 'Gajraj One', cursive;
	font-size: 2em;
}

.newscover p {
    font-family: 'Mukta', sans-serif;
	font-size: 1.4em;
    text-align: center;
    padding-right: 2%;
}

.newscover form {
    float: right;
    padding-top: 9%;
    padding-right: 10%;
}